@import url(https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap);

:root {
    --font-medium: 600;
    --font-semibold: 700;
    --font-bold: 800;
    --font-color-primary: #8bafb1;
    --classic-shadow: 0 1.5px 0 rgba(0, 0, 0, 0.5);
    --box-shadow: 0 4px 5px rgba(0, 0, 0, 0.3);
    --top-shadow: 0 -4px 5px rgba(0, 0, 0, 0.05);
    --content-shadow: 0 0px 6px rgba(0, 0, 0, 0.2);
    --classic-transition: all 0.2s ease-in-out 0s;
    --spacing: 16px;
    --med-spacing: 24px;
    --big-spacing: 32px;
    --radius: 10px;
}

* {
    box-sizing: border-box;
}

body, html {
    font-family: Poppins, sans-serif;
    color: #f5f5f6;
}
.container {
    max-width: 100%;
    margin: 0 auto;
}

.containerTitleContent {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-transform: uppercase;
    font-weight: var(--font-bold);
    text-shadow: #000 2px 3px 15px;
    letter-spacing: 3px;
}

.containerTitleContent h1{
    font-size: clamp(3rem, 10vw, 5rem);
    margin: 5rem auto;
    text-align: center;
}
.sectionInfoContainer {
    width: 100%;
}

.imgBackground{
    position: relative;
    z-index: 0;
    min-height: 100vh;
    background: linear-gradient(to bottom,#00000059,rgba(0,0,0, 100)) ,url(../img/background.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: 20%;
    filter: blur(4px);
}

.sectionInfoBox {
    position: absolute;
    width: inherit;
    top: 29%;
    text-align: center;
    text-shadow: #000 1px 1px 8px;
    font-size: clamp(1rem, 2vw, 1.2rem);
    letter-spacing: 1px;
    padding: 0 1rem;
}

.sectionInfoBox_details {
    line-height: 3rem;
}

.sectionInfoBox a {
    text-decoration: none;
    color: #76e2ed;
    padding: 0.2rem;
    border-style: solid;
    border-radius: var(--radius);
    background-color: #222222a1;
    filter: initial;
    transition: filter 2s 0.3s;
    margin: 0 0.3rem;
    white-space: nowrap;
}

.sectionInfoBox a:hover {
    filter: invert(0%) sepia(13%) saturate(200%) hue-rotate(350deg) brightness(90%) contrast(100%);
    transition: filter 3s 0.3s;
}


.sectionInfoButtonContainer {
    position: absolute;
    top: 58%;
    width: 100%;
    text-align: center;
    animation: floating 3s infinite ease-in-out;
    top: calc(75% - 10vw);
}


.sectionInfoButton i {
    margin: 0 1rem;
}

.sectionInfoButton {
    padding: 1rem 2rem 1rem 1rem;
    border-style: solid;
    border-radius: var(--radius);
    background-clip: text;
    border-color: #76e2ed;
    background-color: #222222a1;
    text-decoration: none;
    color: inherit;
    filter: initial;
    transition: filter 2s 0.3s;
    font-size: clamp(0.875rem, 5vw, 1rem);
}

.sectionInfoButton:hover {
    filter: invert(0%) sepia(13%) saturate(200%) hue-rotate(350deg) brightness(90%) contrast(100%);
    transition: filter 3s 0.3s;
}

@keyframes floating {
    0% {transform: translate(0,  0px);}
    50%  {transform: translateY(3px)}
    100%   {transform: translate(0, -0px);}
}

.footerContainer {
    position: absolute;
    width: 100%;
    bottom: 2rem;
    text-align: center;
    color: rgba(255, 255, 255, 0.041);
}

.footerContainer a{
    text-decoration: none;
    color: inherit;
}